EXTRACT

In [1]:
# Extract happiness data
import pandas as pd
file = '../ETL-Project/2019.csv'
happiness_df = pd.read_csv(file)
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [2]:
# Extract Facebook data
import requests
url = "https://worldpopulationreview.com/country-rankings/facebook-users-by-country"
response = requests.get(url)
tables = pd.read_html(url)

TRANSFORM

In [3]:
# CLEAN HAPPINESS_DF

# Remove extra columns
happiness_df = happiness_df.drop(columns=['GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption'])

# Rename country column
happiness_df = happiness_df.rename(columns={"Country or region": "Country"})

happiness_df.head()

   Overall rank      Country  Score
0             1      Finland  7.769
1             2      Denmark  7.600
2             3       Norway  7.554
3             4      Iceland  7.494
4             5  Netherlands  7.488

In [4]:
# CLEAN FACEBOOK DATA

facebook_df = tables[0]
facebook_df['Facebook Users'] = facebook_df['Facebook Users (2019)'] / facebook_df['Population 2020']
facebook_df = facebook_df.dropna()
facebook_df = facebook_df.rename(columns={"Facebook Users": "Facebook Users (%)"})

facebook_df.head()

         Country  Facebook Users (2019)  Population 2020  Facebook Users (%)
0          India            251000000.0       1380004385            0.181883
1  United States            240000000.0        331002651            0.725070
2         Brazil            139000000.0        212559417            0.653935
3      Indonesia            136960000.0        273523615            0.500725
4         Mexico             78000000.0        128932753            0.604967

In [5]:
facebook_df['Facebook Users (%)'] = facebook_df['Facebook Users (%)'].astype(float)

In [6]:
facebook_df['Facebook Users (%)'] = (facebook_df['Facebook Users (%)']) * 100

In [7]:
facebook_df

           Country  Facebook Users (2019)  Population 2020  Facebook Users (%)
0            India            251000000.0       1380004385           18.188348
1    United States            240000000.0        331002651           72.506972
2           Brazil            139000000.0        212559417           65.393480
3        Indonesia            136960000.0        273523615           50.072459
4           Mexico             78000000.0        128932753           60.496653
..             ...                    ...              ...                 ...
222     Montserrat                 2600.0             4992           52.083333
223         Tuvalu                 1700.0            11792           14.416554
224           Niue                  820.0             1626           50.430504
225        Tokelau                  410.0             1357           30.213707
226   Vatican City                   20.0              801            2.496879

[227 rows x 4 columns]

In [8]:
facebook_df = facebook_df.drop(columns=['Facebook Users (2019)', 'Population 2020'])
facebook_df

           Country  Facebook Users (%)
0            India           18.188348
1    United States           72.506972
2           Brazil           65.393480
3        Indonesia           50.072459
4           Mexico           60.496653
..             ...                 ...
222     Montserrat           52.083333
223         Tuvalu           14.416554
224           Niue           50.430504
225        Tokelau           30.213707
226   Vatican City            2.496879

[227 rows x 2 columns]

In [9]:
cell_url = 'https://www.bankmycell.com/blog/how-many-phones-are-in-the-world'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(cell_url, headers=header)

cell_df2 = pd.read_html(r.text)

In [10]:
cell_df = cell_df2[1]
cell_df

,RANK,COUNTRY/MARKET,TOTAL POPULATION,SMARTPHONE USERS,SMARTPHONE PENETRATION
0,1,China,1.42B,851M,59.9%
1,2,India,137B,346M,25.3%
2,3,United States,329M,260M,79.1%
3,4,Brazil,212M,96.9M,45.6%
4,5,Russian Federation,144M,95.4M,66.3%
5,6,Indonesia,270M,83.9M,31.1%
6,7,Japan,127M,72.6M,57.2%
7,8,Germany,82.4M,65.9M,79.9%
8,9,Mexico,132M,65.6M,49.5%
9,10,United Kingdom,67.0M,55.5M,82.9%
10,11,France,65.5M,50.7M,77.5%
11,12,Iran,82.8M,45.4M,54.8%
12,13,Turkey,83.0M,44.8M,54.0%
13,14,Vietnam,97.4M,43.7M,44.9%
14,15,Philippines,108M,36.3M,33.6%
15,16,South Korea,51.3M,36.1M,70.4%
16,17,Italy,59.2M,36.0M,60.8%
17,18,Spain,46.4M,34.5M,74.3%
18,19,Pakistan,205M,32.5M,15.9%
19,20,Bangladesh,168M,31.0M,18.5%
20,21,Egypt,101M,30.5M,30.1%
21,22,Thailand,69.3M,30.2M,43.6%
22,23,Nigeria,201M,30.0M,14.9%
23,24,Canada,37.3M,27.5M,73.8%
24,25,Poland,38.0M,25.3M,66.4%
25,26,Argentina,44.6M,23.6M,53.0%
26,27,South Africa,55.8M,23.2M,41.6%
27,28,Saudi Arabia,33.3M,22.7M,68.3%
28,29,Malaysia,31.5M,20.9M,66.5%
29,30,Colombia,49.4M,20.3M,41.1%
30,31,Australia,24.9M,17.2M,69.3%
31,32,"Taiwan, China",23.6M,17.0M,72.0%
32,33,Algeria,41.7M,15.8M,37.9%
33,34,Morocco,35.6M,13.9M,39.0%
34,35,Peru,32.5M,13.7M,42.2%
35,36,Venezuela,32.3M,12.9M,39.9%
36,37,Ukraine,44.1M,12.6M,28.6%
37,38,Netherlands,17.0M,12.1M,71.2%
38,39,Romania,19.1M,11.5M,60.2%
39,40,Chile,18.4M,11.1M,60.3%
40,41,Iraq,39.7M,9.6M,24.2%
41,42,Belgium,11.5M,8.0M,69.6%
42,43,Kazakhstan,18.2M,7.9M,43.4%
43,44,United Arab Emirates,9.5M,7.8M,82.1%
44,45,Sweden,9.9M,7.3M,73.7%
45,46,Czech Republic,10.5M,7.1M,67.6%
46,47,Azerbaijan,10.0M,6.9M,69.0%
47,48,Portugal,10.2M,6.9M,67.6%
48,49,Greece,10.8M,6.8M,63.0%
49,50,Switzerland,8.5M,6.2M,72.9%

In [11]:
cell_df['SMARTPHONE PENETRATION'] = cell_df['SMARTPHONE PENETRATION'].map(lambda x: x.rstrip('%'))

In [12]:
cell_df

,RANK,COUNTRY/MARKET,TOTAL POPULATION,SMARTPHONE USERS,SMARTPHONE PENETRATION
0,1,China,1.42B,851M,59.9
1,2,India,137B,346M,25.3
2,3,United States,329M,260M,79.1
3,4,Brazil,212M,96.9M,45.6
4,5,Russian Federation,144M,95.4M,66.3
5,6,Indonesia,270M,83.9M,31.1
6,7,Japan,127M,72.6M,57.2
7,8,Germany,82.4M,65.9M,79.9
8,9,Mexico,132M,65.6M,49.5
9,10,United Kingdom,67.0M,55.5M,82.9
10,11,France,65.5M,50.7M,77.5
11,12,Iran,82.8M,45.4M,54.8
12,13,Turkey,83.0M,44.8M,54.0
13,14,Vietnam,97.4M,43.7M,44.9
14,15,Philippines,108M,36.3M,33.6
15,16,South Korea,51.3M,36.1M,70.4
16,17,Italy,59.2M,36.0M,60.8
17,18,Spain,46.4M,34.5M,74.3
18,19,Pakistan,205M,32.5M,15.9
19,20,Bangladesh,168M,31.0M,18.5
20,21,Egypt,101M,30.5M,30.1
21,22,Thailand,69.3M,30.2M,43.6
22,23,Nigeria,201M,30.0M,14.9
23,24,Canada,37.3M,27.5M,73.8
24,25,Poland,38.0M,25.3M,66.4
25,26,Argentina,44.6M,23.6M,53.0
26,27,South Africa,55.8M,23.2M,41.6
27,28,Saudi Arabia,33.3M,22.7M,68.3
28,29,Malaysia,31.5M,20.9M,66.5
29,30,Colombia,49.4M,20.3M,41.1
30,31,Australia,24.9M,17.2M,69.3
31,32,"Taiwan, China",23.6M,17.0M,72.0
32,33,Algeria,41.7M,15.8M,37.9
33,34,Morocco,35.6M,13.9M,39.0
34,35,Peru,32.5M,13.7M,42.2
35,36,Venezuela,32.3M,12.9M,39.9
36,37,Ukraine,44.1M,12.6M,28.6
37,38,Netherlands,17.0M,12.1M,71.2
38,39,Romania,19.1M,11.5M,60.2
39,40,Chile,18.4M,11.1M,60.3
40,41,Iraq,39.7M,9.6M,24.2
41,42,Belgium,11.5M,8.0M,69.6
42,43,Kazakhstan,18.2M,7.9M,43.4
43,44,United Arab Emirates,9.5M,7.8M,82.1
44,45,Sweden,9.9M,7.3M,73.7
45,46,Czech Republic,10.5M,7.1M,67.6
46,47,Azerbaijan,10.0M,6.9M,69.0
47,48,Portugal,10.2M,6.9M,67.6
48,49,Greece,10.8M,6.8M,63.0
49,50,Switzerland,8.5M,6.2M,72.9

In [13]:
cell_df = cell_df.drop(columns=['RANK', 'TOTAL POPULATION', 'SMARTPHONE USERS'])
cell_df

          COUNTRY/MARKET SMARTPHONE PENETRATION
0                  China                   59.9
1                  India                   25.3
2          United States                   79.1
3                 Brazil                   45.6
4     Russian Federation                   66.3
5              Indonesia                   31.1
6                  Japan                   57.2
7                Germany                   79.9
8                 Mexico                   49.5
9         United Kingdom                   82.9
10                France                   77.5
11                  Iran                   54.8
12                Turkey                   54.0
13               Vietnam                   44.9
14           Philippines                   33.6
15           South Korea                   70.4
16                 Italy                   60.8
17                 Spain                   74.3
18              Pakistan                   15.9
19            Bangladesh                   18.5
20                 Egypt                   30.1
21              Thailand                   43.6
22               Nigeria                   14.9
23                Canada                   73.8
24                Poland                   66.4
25             Argentina                   53.0
26          South Africa                   41.6
27          Saudi Arabia                   68.3
28              Malaysia                   66.5
29              Colombia                   41.1
30             Australia                   69.3
31         Taiwan, China                   72.0
32               Algeria                   37.9
33               Morocco                   39.0
34                  Peru                   42.2
35             Venezuela                   39.9
36               Ukraine                   28.6
37           Netherlands                   71.2
38               Romania                   60.2
39                 Chile                   60.3
40                  Iraq                   24.2
41               Belgium                   69.6
42            Kazakhstan                   43.4
43  United Arab Emirates                   82.1
44                Sweden                   73.7
45        Czech Republic                   67.6
46            Azerbaijan                   69.0
47              Portugal                   67.6
48                Greece                   63.0
49           Switzerland                   72.9

In [14]:
cell_df['SMARTPHONE PENETRATION'] = cell_df['SMARTPHONE PENETRATION'].astype(float)
cell_df

          COUNTRY/MARKET  SMARTPHONE PENETRATION
0                  China                    59.9
1                  India                    25.3
2          United States                    79.1
3                 Brazil                    45.6
4     Russian Federation                    66.3
5              Indonesia                    31.1
6                  Japan                    57.2
7                Germany                    79.9
8                 Mexico                    49.5
9         United Kingdom                    82.9
10                France                    77.5
11                  Iran                    54.8
12                Turkey                    54.0
13               Vietnam                    44.9
14           Philippines                    33.6
15           South Korea                    70.4
16                 Italy                    60.8
17                 Spain                    74.3
18              Pakistan                    15.9
19            Bangladesh                    18.5
20                 Egypt                    30.1
21              Thailand                    43.6
22               Nigeria                    14.9
23                Canada                    73.8
24                Poland                    66.4
25             Argentina                    53.0
26          South Africa                    41.6
27          Saudi Arabia                    68.3
28              Malaysia                    66.5
29              Colombia                    41.1
30             Australia                    69.3
31         Taiwan, China                    72.0
32               Algeria                    37.9
33               Morocco                    39.0
34                  Peru                    42.2
35             Venezuela                    39.9
36               Ukraine                    28.6
37           Netherlands                    71.2
38               Romania                    60.2
39                 Chile                    60.3
40                  Iraq                    24.2
41               Belgium                    69.6
42            Kazakhstan                    43.4
43  United Arab Emirates                    82.1
44                Sweden                    73.7
45        Czech Republic                    67.6
46            Azerbaijan                    69.0
47              Portugal                    67.6
48                Greece                    63.0
49           Switzerland                    72.9

In [15]:
cell_df = cell_df.rename(columns={"COUNTRY/MARKET": "Country"})
cell_df = cell_df.rename(columns={"SMARTPHONE PENETRATION": "Smartphone Usage (%)"})
cell_df

                 Country  Smartphone Usage (%)
0                  China                  59.9
1                  India                  25.3
2          United States                  79.1
3                 Brazil                  45.6
4     Russian Federation                  66.3
5              Indonesia                  31.1
6                  Japan                  57.2
7                Germany                  79.9
8                 Mexico                  49.5
9         United Kingdom                  82.9
10                France                  77.5
11                  Iran                  54.8
12                Turkey                  54.0
13               Vietnam                  44.9
14           Philippines                  33.6
15           South Korea                  70.4
16                 Italy                  60.8
17                 Spain                  74.3
18              Pakistan                  15.9
19            Bangladesh                  18.5
20                 Egypt                  30.1
21              Thailand                  43.6
22               Nigeria                  14.9
23                Canada                  73.8
24                Poland                  66.4
25             Argentina                  53.0
26          South Africa                  41.6
27          Saudi Arabia                  68.3
28              Malaysia                  66.5
29              Colombia                  41.1
30             Australia                  69.3
31         Taiwan, China                  72.0
32               Algeria                  37.9
33               Morocco                  39.0
34                  Peru                  42.2
35             Venezuela                  39.9
36               Ukraine                  28.6
37           Netherlands                  71.2
38               Romania                  60.2
39                 Chile                  60.3
40                  Iraq                  24.2
41               Belgium                  69.6
42            Kazakhstan                  43.4
43  United Arab Emirates                  82.1
44                Sweden                  73.7
45        Czech Republic                  67.6
46            Azerbaijan                  69.0
47              Portugal                  67.6
48                Greece                  63.0
49           Switzerland                  72.9

In [16]:
almost_final_df = happiness_df.merge(facebook_df, how='inner', on='Country')
almost_final_df

     Overall rank                   Country  Score  Facebook Users (%)
0               1                   Finland  7.769           48.730129
1               2                   Denmark  7.600           63.878988
2               3                    Norway  7.554           62.716267
3               4                   Iceland  7.494           73.261576
4               5               Netherlands  7.488           57.193307
..            ...                       ...    ...                 ...
143           152                    Rwanda  3.334            4.573734
144           153                  Tanzania  3.231            7.150006
145           154               Afghanistan  3.203            9.885855
146           155  Central African Republic  3.083            2.528072
147           156               South Sudan  2.853            2.527318

[148 rows x 4 columns]

In [17]:
final_df = almost_final_df.merge(cell_df, how='inner', on='Country')
final_df

,Overall rank,Country,Score,Facebook Users (%),Smartphone Usage (%)
0,5,Netherlands,7.488,57.193307,71.2
1,6,Switzerland,7.480,42.751723,72.9
2,7,Sweden,7.343,62.380777,73.7
3,9,Canada,7.278,60.939818,73.8
4,11,Australia,7.228,58.823797,69.3
5,15,United Kingdom,7.054,64.814532,82.9
6,17,Germany,6.985,36.999930,79.9
7,18,Belgium,6.923,56.084654,69.6
8,19,United States,6.892,72.506972,79.1
9,20,Czech Republic,6.852,42.954600,67.6
10,21,United Arab Emirates,6.825,88.338169,82.1
11,23,Mexico,6.595,60.496653,49.5
12,24,France,6.592,50.556496,77.5
13,26,Chile,6.444,68.005144,60.3
14,28,Saudi Arabia,6.375,68.133762,68.3
15,30,Spain,6.354,49.192833,74.3
16,32,Brazil,6.300,65.393480,45.6
17,36,Italy,6.223,49.618085,60.8
18,40,Poland,6.182,36.991423,66.4
19,43,Colombia,6.125,56.993617,41.1
20,47,Argentina,6.086,66.377887,53.0
21,48,Romania,6.070,46.263348,60.2
22,52,Thailand,6.008,65.902600,43.6
23,54,South Korea,5.895,42.590886,70.4
24,58,Japan,5.886,22.138507,57.2
25,60,Kazakhstan,5.809,49.241861,43.4
26,65,Peru,5.697,60.657796,42.2
27,66,Portugal,5.693,56.881098,67.6
28,67,Pakistan,5.653,16.781931,15.9
29,69,Philippines,5.631,65.485758,33.6
30,79,Turkey,5.373,52.170366,54.0
31,80,Malaysia,5.339,78.848176,66.5
32,82,Greece,5.287,47.970585,63.0
33,85,Nigeria,5.265,13.156134,14.9
34,88,Algeria,5.211,43.328501,37.9
35,89,Morocco,5.208,49.660585,39.0
36,90,Azerbaijan,5.208,18.285508,69.0
37,92,Indonesia,5.192,50.072459,31.1
38,93,China,5.191,0.092405,59.9
39,94,Vietnam,5.175,68.544251,44.9
40,106,South Africa,4.722,35.880071,41.6
41,108,Venezuela,4.707,45.716794,39.9
42,117,Iran,4.548,47.623045,54.8
43,125,Bangladesh,4.456,20.470658,18.5
44,126,Iraq,4.437,52.895776,24.2
45,133,Ukraine,4.332,21.722348,28.6
46,137,Egypt,4.166,41.432791,30.1
47,140,India,4.015,18.188348,25.3

In [18]:
final_df = final_df.rename(columns={'Overall rank':'Overall Rank Happiness', 'Score':'Score Happiness'})
final_df

,Overall Rank Happiness,Country,Score Happiness,Facebook Users (%),Smartphone Usage (%)
0,5,Netherlands,7.488,57.193307,71.2
1,6,Switzerland,7.480,42.751723,72.9
2,7,Sweden,7.343,62.380777,73.7
3,9,Canada,7.278,60.939818,73.8
4,11,Australia,7.228,58.823797,69.3
5,15,United Kingdom,7.054,64.814532,82.9
6,17,Germany,6.985,36.999930,79.9
7,18,Belgium,6.923,56.084654,69.6
8,19,United States,6.892,72.506972,79.1
9,20,Czech Republic,6.852,42.954600,67.6
10,21,United Arab Emirates,6.825,88.338169,82.1
11,23,Mexico,6.595,60.496653,49.5
12,24,France,6.592,50.556496,77.5
13,26,Chile,6.444,68.005144,60.3
14,28,Saudi Arabia,6.375,68.133762,68.3
15,30,Spain,6.354,49.192833,74.3
16,32,Brazil,6.300,65.393480,45.6
17,36,Italy,6.223,49.618085,60.8
18,40,Poland,6.182,36.991423,66.4
19,43,Colombia,6.125,56.993617,41.1
20,47,Argentina,6.086,66.377887,53.0
21,48,Romania,6.070,46.263348,60.2
22,52,Thailand,6.008,65.902600,43.6
23,54,South Korea,5.895,42.590886,70.4
24,58,Japan,5.886,22.138507,57.2
25,60,Kazakhstan,5.809,49.241861,43.4
26,65,Peru,5.697,60.657796,42.2
27,66,Portugal,5.693,56.881098,67.6
28,67,Pakistan,5.653,16.781931,15.9
29,69,Philippines,5.631,65.485758,33.6
30,79,Turkey,5.373,52.170366,54.0
31,80,Malaysia,5.339,78.848176,66.5
32,82,Greece,5.287,47.970585,63.0
33,85,Nigeria,5.265,13.156134,14.9
34,88,Algeria,5.211,43.328501,37.9
35,89,Morocco,5.208,49.660585,39.0
36,90,Azerbaijan,5.208,18.285508,69.0
37,92,Indonesia,5.192,50.072459,31.1
38,93,China,5.191,0.092405,59.9
39,94,Vietnam,5.175,68.544251,44.9
40,106,South Africa,4.722,35.880071,41.6
41,108,Venezuela,4.707,45.716794,39.9
42,117,Iran,4.548,47.623045,54.8
43,125,Bangladesh,4.456,20.470658,18.5
44,126,Iraq,4.437,52.895776,24.2
45,133,Ukraine,4.332,21.722348,28.6
46,137,Egypt,4.166,41.432791,30.1
47,140,India,4.015,18.188348,25.3